{% extends "base.html" %}
{% set active_page="home"%}

{% block content %}
<h1>Daftar Mahasiswa</h1>
<table class="table">
        <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Nilai</th>
                <th>Status</th>
                <th>Hapus</th>
        </tr>
        {% for m in list_mahasiswa %} 
        <tr {% if session.user.nama ==m.nama %} class="bg-warning"{%endif%}>
                <td>{{ loop.index }}</td>
                <td>{{ m.nama }}</td>
                <td>{{ m.nilai }}</td>
                <td>
                        {% if m.nilai>=70 %}
                        <b class="text-success">Lulus</b>
                        {%else%}
                        <b class="text-danger">Tidak Lulus</b>
                        {% endif %}
                        
                </td>
                <td>
                        {% if "admin" in session and session["admin"]==True %}
                                <a href="/hapus/{{ m.id }}" class="btn btn-danger">Hapus</a>
                        {% endif %}
                        <button class="btn btn-primary" onclick=show_modal("{{ m.id }}")>Detail</button>
                </td>
        </tr>
        {% endfor %}
</table>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="spinner-border text-primary" role="status" id="loading">
                        <span class="visually-hidden">Loading...</span>
                </div>
                <div id="respon"></div>
            </div>
          </div>
        </div>
      </div>

{% endblock content%}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
        function show_modal(user_id)
        {
                // panggil API dengan ajax
                $("#loading").removeClass("d-none")
                $("#respon").addClass("d-none")
                $.ajax("/api/mhs/detail/"+user_id,
                {
                        success:function(data)
                        {
                                // ubah text element dengan id "resp" dari request API yang diterima
                                $("#respon").removeClass("d-none")
                                $("#respon").text(data);
                                $("#loading").addClass("d-none")
                        },
                        error:function(data)
                        {
                                $("#respon").removeClass("d-none")
                                $("#respon").html("<b class='text-danger'>Eror, belum ada data.<b>");
                                $("#loading").addClass("d-none")     
                        }
                })
                // cari modal dengan id exampleModal
                var myModal=new bootstrap.Modal(document.getElementById('exampleModal'));
                // tampilkan modal
                myModal.show()
        }
</script>


{% endblock %}


