{% extends "base.html" %}
{% set active_page="login"%}

{% block content %}
<h3 class="pt-3">Login</h3>
{% if pesan !='' %}
    <div class="alert alert-{{status}}" role="alert">
        {{ pesan }}     
    </div>
{% endif %}

<form action="/login" method="post" class="container">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="username" >
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}


